@import url(variables.css);

            /*   All   */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

            /*   Body   */

body{
    background-color: var(--color-8);
    background-image: url(../storage/img/background.png);
}

            /*   Header   */

header{
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 75px;
    padding-right: 75px;
}

.header__logo{
    /* background: blue; */
}
.header__logo img{

}

.header__nav{
    /* background: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 54px;
}
.header__nav li{
    /* background-color: orange; */
    list-style: none;
}
.header__nav li a{
    font-family: "Poppins-SemiBold";
    color: var(--color-1);
    text-decoration: none;
    font-size: 28px;
    display: flex;

}
.header__nav li a img{
    
}

.header__menu{
    /* background: violet; */
}

            /*   Main   */

main{
    /* background: green; */
    padding-top: 45px;
    padding-left: 75px;
    padding-right: 75px;
}

.section__container{
    display: flex;
    justify-content: space-between;
}

.article__jumper{
    width: 679px;
    /* background: violet; */
    display: flex;
    flex-direction: column;
}
.article__jumper h1{
    color: var(--color-1);
    font-family: "Poppins-SemiBold";
    font-size: 120px;
    line-height: 110px;
}
.article__jumper p{
    margin-top: 26px;
    font-family: "Poppins-Medium";
    font-size: 24px;
    color: var(--color-6);
    line-height: 123%;
}

.div__buttons{
    margin-top: 26px;
    /* background: rebeccapurple; */
    display: flex;
    gap: 38px;
}
.div__buttons a{
    width: 264px;
    height: 86px;
    border-radius: 14px;
    border: 1px solid var(--color-1);
    background: transparent;
    font-family: "Poppins-Thin";
    font-size: 32px;
    font-weight: 900;
    color: var(--color-1);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div__buttons:hover a:hover{
    border: none;
    /* outline: none; */
    backdrop-filter: blur(24px);
}