@import url(variables.css);

            /*   All   */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

            /*   Body   */

body{
    background-image: url(../storage/img/background.png);
    background-repeat: no-repeat;
    background-position: top center;
}

            /*   Header   */

header{
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 75px;
    padding-right: 75px;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 54px;
}
.header__nav li{
    list-style: none;
}
.header__nav li a{
    font-family: "Poppins-SemiBold";
    color: var(--color-1);
    text-decoration: none;
    font-size: 28px;
    display: flex;

}

            /*   Main   */

main{
    padding-top: 45px;
    padding-left: 75px;
    padding-right: 75px;
}

            /*   Main-> Left   */

.section__container{
    display: flex;
    justify-content: space-between;
}

.article__jumper{
    width: 679px;
    display: flex;
    flex-direction: column;
}
.article__jumper h1{
    color: var(--color-1);
    font-family: "Poppins-SemiBold";
    font-size: 120px;
    line-height: 110px;
}
.article__jumper p{
    margin-top: 26px;
    font-family: "Poppins-Medium";
    font-size: 24px;
    color: var(--color-6);
    line-height: 123%;
}

.div__buttons{
    margin-top: 26px;
    display: flex;
    gap: 38px;
}
.div__buttons a{
    width: 264px;
    height: 86px;
    border-radius: 14px;
    outline: 1px solid var(--color-1);
    background: transparent;
    font-family: "Poppins-Thin";
    font-size: 32px;
    font-weight: 900;
    color: var(--color-1);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div__buttons:hover a:hover{
    outline: none;
    backdrop-filter: blur(24px);
}

            /*   Main-> Right   */

#reviews{
    height: 221px;
    padding-top: 18px;
    padding-left: 18px;
    padding-right: 27px;
    display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(var(--cards), var(--cardHeight));
        gap: var(--cardMargin);
}

            /***   Scrollbar Styles   ***/

#reviews::-webkit-scrollbar {
    width: 10px;
}
#reviews::-webkit-scrollbar-track {
    background: transparent;
}
#reviews::-webkit-scrollbar-thumb {
    background: var(--color-1); 
    border-radius: 10px;
}
#reviews::-webkit-scrollbar-thumb:hover {
    background: var(--color-6);
    cursor: grab;
}
#reviews::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}
#reviews::-webkit-scrollbar-button {
    display: none;
}
.div__reviews-container:nth-child(1){
    --index: 1;
}
.div__reviews-container:nth-child(2){
    --index: 2;
}
.div__reviews-container:nth-child(3){
    --index: 3;
}
.div__reviews-container:nth-child(4){
    --index: 4;
}

.article__reviews{
    /* background-color: red; */
    overflow-y: auto;
}

.div__reviews-container{
    width: 345px;
    height: 202px;
    background-color: var(--color-1);
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: calc(var(--index) * var(--cardToppadding));
    border: 1px solid var(--color-5);
    position: sticky;
    z-index: var(--index);
    top: 0px;
}

.div__reviews-cards{
    /* display: flex;
    flex-direction: column; */
}
.div__reviews-cards::after{
    display: flex;
    font-family: "Poppins-Medium";
    content: "x";
    width: 35px;
    height: 35px;
    color: var(--color-1);
    position: absolute;
    background: var(--color-8);
    border: 1px solid var(--color-6);
    border-radius: 100%;
    cursor: pointer;
    left: -18px;
    top: -18px;
    justify-content: center;
    align-items: center;
}
.div__reviews-cards p{
    color: var(--color-7);
    font-family: "Poppins-Medium";
    text-align: justify;
    margin-top: 12px;
    font-size: 18px;
    width: 227px;
}

.div__reviews-profile{
    /* background-color: violet; */
    /* padding: 20px; */
    gap: 16px;
    display: flex;
}
.div__reviews-profile img{
    /* background-color: orange; */
    object-fit: contain;
    /* padding: 20px; */
}

.div__reviews-rating{
    /* background-color: yellow; */
    /* padding: 20px; */
}
.div__reviews-rating h3{
    color: var(--color-2);
    font-family: "Poppins-Medium";
    font-size: 28px;
}

.div__reviews-stars{
    /* background-color: olive; */
    /* padding: 20px; */
}
.div__reviews-stars img{
    /* background-color: turquoise; */
    padding: 0;
}